<!DOCTYPE html>
<html>

<head>
    <title>Not-Dead-Yet...</title>
</head>

<body>
    <h1><a href="/">Not-Dead-Yet...</a></h1>
    <h1>...But letting people know when the time comes.</h1>
    <form id="purchase-form" method="post" action="/charge">
        <input type="hidden" id="credit-token" name="credit_token" value="" />
        <p><label for="email">Email: </label><input type="text" id="email" name="email" placeholder="Enter in email" /></p>
        <p><label for="amount">Amount: </label><input type="text" id="amount" size="10" name="amount" value="$5" disabled /></p>
        <p><label for="card-number">Card Number: </label><input type="text" id="card-number" size="20" data-stripe='number' name="card-number" /></p>
        <p><label for="cvc">CVC: </label><input type="text" id="cvc" size="4" data-stripe='cvc' name="cvc" /></p>
        <p><label>Expires:</label>
            <select id="exp-month" data-stripe='exp-month' name="exp-month">
                <option>Month</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <select id="exp-year" data-stripe='exp-year' name="exp-year">
                <option>Year</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
            </select>
        </p>
        <p>Your card will be charged when you click the button below. A link will be mailed to you periodically that allows you to specify a message and who to send it to if you fail to check in</p>
        <p><input type="submit" id="purchase" name="Purchase" value="Buy Peace-of-Mind"></p>
    </form>
    <script>
        function elt(id) {
            return document.getElementById(id);
        }
        elt('purchase').onclick = function(event) {
            var purchase_form = elt('purchase-form');
            elt('purchase').disabled = true; // prevent additional clicks
            Stripe.card.createToken(purchase_form, tokenResponseHandler);
            event.preventDefault(); //prevent form submitting till get all clear
        }

        function tokenResponseHandler(status, response) {
            var purchase_form = elt('purchase-form');
            if (response.error) {
                alert(response.error.message);
                elt('purchase').disabled = false;
            } else {
                elt('credit-token').value = response.id;
                purchase_form.submit();
            }
        }
    </script>
    <script src="https://js.stripe.com/v2/"></script>
    <script>
        Stripe.setPublishableKey('<%=PUBLISHABLE_KEY %>');
    </script>
</body>

</html>